In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv('student-mat.csv',sep=';')

In [3]:
dataset.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [4]:
dataset.isnull().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [5]:
dataset.shape

(395, 33)

In [6]:
dataset.dtypes

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

In [7]:
X=dataset.iloc[:,:30]

In [8]:
y=dataset.iloc[:,30:]

In [9]:
y1=y['G1']
y2=y['G2']
y3=y['G3']

In [10]:
X.shape

(395, 30)

In [11]:
X.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,yes,no,no,4,3,4,1,1,3,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,yes,no,5,3,3,1,1,3,4
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,yes,no,4,3,2,2,3,3,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,yes,3,2,2,1,1,5,2
4,GP,F,16,U,GT3,T,3,3,other,other,...,yes,no,no,4,3,2,1,2,5,4

In [12]:
y.shape

(395, 3)

In [13]:
y.head()

   G1  G2  G3
0   5   6   6
1   5   5   6
2   7   8  10
3  15  14  15
4   6  10  10

In [14]:
school = pd.get_dummies(X['school'], drop_first=True)
sex = pd.get_dummies(X['sex'], drop_first=True)
address  = pd.get_dummies(X['address'], drop_first=True)
famsize = pd.get_dummies(X['famsize'], drop_first=True)
Pstatus  = pd.get_dummies(X['Pstatus'], drop_first=True)
Mjob  = pd.get_dummies(X['Mjob'], drop_first=True)
Fjob = pd.get_dummies(X['Fjob'], drop_first=True)
reason  = pd.get_dummies(X['reason'], drop_first=True)
guardian = pd.get_dummies(X['guardian'], drop_first=True)
schoolsup = pd.get_dummies(X['schoolsup'], drop_first=True)
famsup = pd.get_dummies(X['famsup'], drop_first=True)
paid = pd.get_dummies(X['paid'], drop_first=True)
activities  = pd.get_dummies(X['activities'], drop_first=True)
nursery  = pd.get_dummies(X['nursery'], drop_first=True)
higher = pd.get_dummies(X['higher'], drop_first=True)
internet = pd.get_dummies(X['internet'], drop_first=True)
romantic = pd.get_dummies(X['romantic'], drop_first=True)

In [15]:
X = X.drop(labels = ['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob','reason', 'guardian', 'schoolsup','famsup','paid', 'activities', 'nursery', 'higher', 'higher', 'internet', 'romantic'], axis = 1)

In [16]:
print(type(school))

<class 'pandas.core.frame.DataFrame'>

In [17]:
X = pd.concat( [X,school, sex, address, famsize, Pstatus, Mjob, Fjob,reason, guardian, schoolsup,famsup,paid, activities, nursery, higher, higher, internet, romantic], axis=1)

In [18]:
X.head()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,...,other,yes,yes,yes,yes,yes,yes,yes,yes,yes
0,18,4,4,2,2,0,4,3,4,1,...,0,1,0,0,0,1,1,1,0,0
1,17,1,1,1,2,0,5,3,3,1,...,0,0,1,0,0,0,1,1,1,0
2,15,1,1,1,2,3,4,3,2,2,...,0,1,0,1,0,1,1,1,1,0
3,15,4,2,1,3,0,3,2,2,1,...,0,0,1,1,1,1,1,1,1,1
4,16,3,3,1,2,0,4,3,2,1,...,0,0,1,1,0,1,1,1,0,0

In [19]:
X.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,...,other,yes,yes,yes,yes,yes,yes,yes,yes,yes
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,...,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,...,0.081013,0.129114,0.612658,0.458228,0.508861,0.794937,0.949367,0.949367,0.832911,0.334177
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,...,0.273201,0.335751,0.487761,0.498884,0.500555,0.404260,0.219525,0.219525,0.373528,0.472300
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,...,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,...,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [20]:
X.shape

(395, 40)

In [21]:
y.shape

(395, 3)

In [22]:
y1.shape

(395,)

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train1,X_test1,y_train1,y_test1=train_test_split(X,y1,test_size=0.2,random_state=42)
X_train2,X_test2,y_train2,y_test2=train_test_split(X,y2,test_size=0.2,random_state=42)
X_train3,X_test3,y_train3,y_test3=train_test_split(X,y3,test_size=0.2,random_state=42)

In [25]:
X_train1.shape

(316, 40)

In [26]:
X_test1.shape

(79, 40)

In [27]:
y_train1.shape

(316,)

In [28]:
y_test1.shape

(79,)

In [29]:
y_train1.head()

181    12
194    13
173     8
63     10
253     8
Name: G1, dtype: int64

In [30]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr1=LinearRegression()
lr2=LinearRegression()
lr3=LinearRegression()

In [ ]:
lr1.fit(X_train1,y_train1)
lr2.fit(X_train2,y_train2)
lr3.fit(X_train3,y_train3)

In [ ]:
print(lr1.coef_)
print(lr2.coef_)
print(lr3.coef_)

In [ ]:
print(lr1.intercept_)
print(lr2.intercept_)
print(lr3.intercept_)

In [ ]:
y_pred1=lr1.predict(X_test1)
y_pred2=lr2.predict(X_test2)
y_pred3=lr3.predict(X_test3)

In [ ]:
from sklearn import metrics

In [ ]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test1, y_pred1))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test1, y_pred1))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test1, y_pred1)))

In [ ]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test2, y_pred2))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test2, y_pred2))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test2, y_pred2)))

In [ ]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test3, y_pred3))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test3, y_pred3))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test3, y_pred3)))